@CHARSET "UTF-8";
*{
	margin: 0;
	padding: 0;
}
ul{
	text-decoration: none;
	list-style-type: none;
	display: flex;
	/*margin: 0 auto;*/
}
a:HOVER{
	text-decoration: none;
}
.a-block{
	display: block;
}
body{
	background-color: #80ffff;
}
.header0{
	background-color:gray; 
}
.header0 span{
	text-align: center;
	line-height: 50px;
}
.header0 h2{
	display: inline;
	text-align: center;
	margin-top:auto;
	margin-bottom:auto;
	line-height:50px;
	padding: 0;
}

.nav-Navigation{
	height: 50px;
	background-color: white;
}
.nav-Navigation ul{
	display:flex;
	justify-content:space-between;
}
.nav-Navigation li{
	line-height:50px;
	text-align: center;
	flex:1 1 auto;
}
.nav-Navigation li:HOVER{
	border-bottom: 3px solid red;
}
.nav-img0{
	width:100%;
	display: block;
	margin: 0 auto;
}
.nav-label{
	height: 120px;
	position: relative;
}
.nav-label ul{
	display: flex;
	justify-content:space-around;
	align-items:center;
	background-color: white;
}
.nav-label li{
	display: block;
	flex:1 1 auto;
	text-align: center;
}
.nav-img1-div{
	margin-top: 10;
	margin-bottom: 10;
}
.nav-label:AFTER{
	content: "";
	height: 0;
	width: 80%;
	display: block;
	border-top: 2px solid red;
	border-bottom: 2px solid red;
	position: absolute;
	bottom: 0px;
	left: 10%;
}
.nav-column{
	background-color: white;
}
.nav-column li{
	text-align: center;
}
.nav-column-middle{
	position: relative;
}
.nav-column-middle:BEFORE{
	content:"";
	width:0;
	height:200px;
	display:block;
	border-left: 2px solid red;
	border-right:  2px solid red;
	position:absolute;
	top: 20px;
}
.nav-column-middle:AFTER{
	content:"";
	width:0;
	height:200px;
	display:block;
	border-left: 2px solid red;
	border-right:  2px solid red;
	position:absolute;
	top: 20px;
	right:0px;
}
.module{
	text-align: center;
	background-color: white;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.module h3{
	text-align: left;
	text-indent: 2rem;	
}
.section-header{
	position: relative;
}
.section-header:AFTER{
	position: absolute;
	left:5%;
	content: "";
	display: block;
	height: 0;
	width: 90%;
	border: 0.05rem solid red;
}

.module-flex{
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.module-left img{
	border: 2px solid red;
	display: block;
	margin:2rem auto 2rem auto;
	width: 100%;
	height: 100%;
}
.module-content-col{
	width:50%;
	float:left;
	display: table;
	padding:2rem;
	height: 100%;
}
.module-content-col-content{
	display: table-cell;
	/*单元格内使用vertical-align!!!*/
	vertical-align: middle;
	background-color: gray;
}
.module-content-col-content p{
	margin-bottom: 0;
}
/*@media (max-width:1199px) and (min-width:992px) {
	.module-left img{
		height: 100%;
	}
}*/
/*@media (max-width:991px) {
	.module-left img{
		width: auto;
		height: auto;
	}
}*/

.article-all{
	background-color: white;
}
.article-all h3{
	margin-top: 0;
}
.article0,.article1{
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.article0{
	border-bottom: 0.05rem solid red;
}
.article1{
	border-bottom: 0.05rem solid red;
}

.img-article0{
	display: block;
	width: 100%;
	height: 100%;
}
.article0-col,.article1-col{
	position: relative;
}
.article0-content,.article1-content{
	/*calc运用!!!*/
	height: calc(100% - 3rem);
	
}
.article0-p,.article1-p{
	vertical-align: bottom;
	position: absolute;
	bottom: 0;
	margin: 0;
}
.article2-header{
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.article2-content{
	display: flex;
	justify-content:space-around;
}
.article2-item{
	flex:1 1 auto;
	margin-left: 1rem;
	margin-right: 1rem;
}